@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.footer-section {
    background-color: #19232d;
}

.heading {
    font-family: "Roboto";
    color: #5a7184;
    font-weight: bold;
    font-size: 30px;
}

.hr-line {
    background-color: #5a7184;
    color: #5a7184;
}

.section-copyright {
    color: #5a7184;
    font-family: "Roboto";

}

.paragraph {
    font-family: "Roboto";
    color: #5a7184;
    font-size: 20px;
}

.sub-card-container {
    height: 250px;
    width: 250px;
    background-color: #19232d;
    padding: 20px;
    text-align: left;
}


.logo {
    height: 60px;
    width: 80px;
    margin-top: 30px;
}

.icon1 {
    font-size: 24px;
    color: #5a7184;
    padding: 10px;
}

.icon {
    font-size: 24px;
    color: #19232d;

}

.follow-us-icon-container {
    background-color: #5a7184;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin: 15px;
    padding: 20px;

}